<div class="contenedor-registro">

    <div>
      <h1>Cree una cuenta</h1>
    </div>
  
    <form class="formulario-registro">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Nombre de Usuario</mat-label>
              <input matInput placeholder="nombre de usuario">
      
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>


      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email">
  
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="telefono">
  
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
  <p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="secreto">
  
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput placeholder="secretobis">
  
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>



      <button mat-raised-button color="primary">Enviar</button>
    </form>
  
    <div class="links-registro">
      <span>Si ya tiene una cuenta, <a href="">Ingrese</a></span>  
  
  </div>
  </div>