<div class="contenedor-registro">

  <div>
    <h1 class="titulo-registro">Cree una cuenta</h1>
  </div>

  <form class="formulario-registro" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="nombre de usuario" formControlName="nombreUsuario">

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>
    </p>

    <!-- Campo solo numeros -->
    <div [hidden]="caracterInvalid">
      <span style="color: red; margin-bottom: 1rem;">Sólo debe ingresar números</span>
    </div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input (keypress)="detectarIngresoLetras($event)" matInput placeholder="telefono" formControlName="telefono">
      </mat-form-field>
    </p>



    <p>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="show ? 'text' : 'password'" formControlName="contrasenia">

        <mat-icon matSuffix (click)="cambiarTipoContrasenia()">visibility</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [type]="show ? 'text' : 'password'" formControlName="confirmarContrasenia">
        <mat-icon matSuffix (click)="cambiarTipoContrasenia()">visibility</mat-icon>
      </mat-form-field>
    </p>

    <button mat-raised-button class="boton-registro" (click)="ngOnDestroy()">Enviar</button>
  </form>

  <div style="display: flex; flex-direction: row; justify-content: space-between ;">
    <span class="badge">Si ya tiene una cuenta </span> <a [routerLink]="['/login']">Ingrese
    </a>
  </div>

</div>