
.titulo-listado-principal{
z-index: 1000;
margin:auto;
position: absolute;
top: 20%;
left: 10%;
font-size: 100px;
color:white
}

.contenedor-listado{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(26, 24, 31);
}

.contenedor-secundario{
  margin: 1rem;
}

.mat-card {
    max-width: 400px;
    background-color:#777d8f;
  }
  
  .card-title{
    font-size: 19px;
    margin-bottom: 1rem;
  }

  .precio-pelicula{
    font-size: 20px;
    text-align: right;
    font-weight: 600;
  }

  .stock-pelicula{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 16px;
  }

  .contenedor-stock-precio{
    display: flex;
    justify-content: space-between;
    color: lightgray;
  }
