.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .contenedor-listado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .contenedor-secundario{
    margin: 3rem;
  }