.contenedor-detalle {
    background-color: rgb(26, 24, 31);
    height: 100%;
    overflow-x: inherit;
}

.contenedor-interno{
    display: flex;
    
    border: 2px solid white;
    justify-content: space-between;
}

.contenedor-desarrollo {
  margin-left: 18px;
  margin-top: 16px;

  & h1 {
    font-size: 30px;
    color: white;
  }

  & p {
    color: white;
    font-size: 17px;
    line-height: 20px;
    width: 75%;
  }

  & h5 {
    font-size: 14px;
    color: rgb(195, 195, 255);
  }

  .votos-detalles {
    display: flex;
    flex-direction: row;
    & h4 {
      font-size: 23px;
      color: aquamarine;
    }

    & mat-icon {
      font-size: 23px;
      color: aquamarine;
      margin-left: 2px;
    }
  }
}

//RECOMENDADOS
.contenedor-recomendado{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(26, 24, 31);
  overflow-x: inherit;
}

.titulo-recomendadas{
  display: block;
  text-align: center;
  
  margin-top: 2rem;

  & h1{
    font-size: 38px;
    font-weight: 400;
    color: whitesmoke;
  }

  & h3{
    font-size: 20px;
    font-weight: 400;
    color: rgb(237, 223, 253);
  }
}
.contenedor-secundario{
  margin: 1rem;
}

.imagen-peli{
  cursor:pointer;
}

.mat-card {
  max-width: 370px;
  //background-color:#777d8f;
}

.card-title {
  font-size: 19px;
  margin-bottom: 1rem;
}

.precio-pelicula {
  font-size: 18px;
  text-align: right;
  font-weight: 600;
}

.stock-pelicula {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 16px;
}


.imagen-pelicula {
  width: 320px;
  margin: 16px 0px 0px 16px;
}



 .back{
    display: flex;
    flex-direction: row;
    cursor: pointer;

    & h3{
        font-size: 18px;
        color: aliceblue;
        margin-left: 3px;
    }
    & mat-icon {
        color: aquamarine;
        margin-left: 3px;
    }
}