.contenedor-detalle {
    background-color: rgb(26, 24, 31);
    height: 100%;
    overflow-x: inherit;
}

.contenedor-interno{
    display: flex;
    
    border: 2px solid white;
    justify-content: space-between;
}

.contenedor-desarrollo {
  margin-left: 18px;
  margin-top: 16px;

  & h1 {
    font-size: 30px;
    color: white;
  }

  & p {
    color: white;
    font-size: 17px;
    line-height: 20px;
    width: 75%;
  }

  & h5 {
    font-size: 14px;
    color: burlywood;
  }

  .votos-detalles {
    display: flex;
    flex-direction: row;
    & h4 {
      font-size: 23px;
      color: aquamarine;
    }

    & mat-icon {
      font-size: 23px;
      color: aquamarine;
      margin-left: 2px;
    }
  }
}

.imagen-pelicula {
  width: 320px;
  margin: 16px 0px 0px 16px;
}

 .back{
    display: flex;
    flex-direction: row;
    cursor: pointer;

    & h3{
        font-size: 18px;
        color: aliceblue;
        margin-left: 3px;
    }
    & mat-icon {
        color: aquamarine;
        margin-left: 3px;
    }
}