<div class="contenedor-detalle">
    <div class="back" routerLink="/home">
        <mat-icon>arrow_back</mat-icon>
        <h3>Atrás</h3>
    </div>
    <div class="contenedor-interno">
        <div class="container-imagen-detalle">

            <img [src]="pathImagen" [alt]="detalles.original_title" class="imagen-pelicula">

        </div>
        <!-- detalle -->
        <div class="contenedor-desarrollo">
            <h1>{{detalles.original_title}}</h1>
            <h5>{{detalles.genres}}</h5>
            <p>{{detalles.overview}}</p>

            <div class="votos-detalles">
                <h4>{{detalles.vote_average}}</h4>
                <mat-icon>grade</mat-icon>

            </div>
        </div>
    </div>
    <div class="titulo-recomendadas">
        <h1>RECOMENDADAS</h1>
        <h3>Por que te gustó {{detalles.original_title}}</h3>
    </div>
</div>

<!-- RECOMENDADOS -->
<div class="contenedor-recomendado">
   
    <div class="contenedor-secundario" *ngFor="let pelicula of listaPeliculasRecomendas">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title class="card-title"> {{pelicula.original_title}}</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>
            <!--  (click)="detallePelicula(pelicula.id)" -->
            <img mat-card-image class="img-card-listado" src="{{img_url}}{{pelicula.poster_path}}"  (click)="detallePelicula(pelicula.id)"  class="imagen-peli">
            <div class="contenedor-stock-precio">
                <mat-card-content>
                    <p class="precio-pelicula"> Votos {{pelicula.vote_average}} </p>
                </mat-card-content>

                <mat-card-content>

                    <p class="precio-pelicula"> $ {{pelicula.precio}} </p>
                </mat-card-content>
            </div>
            <mat-divider></mat-divider>
            
            <mat-card-actions class="organizar-contenedor">
                <button mat-raised-button class="color-boton-listado"
                    (click)="agregarAlCarrito(pelicula.original_title, pelicula.precio)">Agregar
                    al Carrito</button>

                <!-- <mat-card-content >
                   <mat-icon>task_alt</mat-icon> 
                </mat-card-content> -->
            </mat-card-actions>
        </mat-card>
    </div>

</div>