.navcontainer{
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
& button {
    font-size: 22px;
    margin-top: 10px;
    color:white;
    font-family: Oswald, sans-serif;
}

    }
