
   
        <mat-form-field class="example-full-width" appearance="fill" id="input-email">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" value="example@example.com">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" id="input-pass">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="contraseña">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput placeholder="Nombre de usuario">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+54 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

 

