<div>
   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="contraseña" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+54 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

 

</div>