<div class="contenedor-login">

  <div>
    <h1>Ingrese sus datos</h1>
  </div>

  <form class="formulario-login">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email">

        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="secreto">

        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary">Enviar</button>
  </form>

  <div class="links-login">
    <span>No recuerda su contraseña?  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon></span>
<span>Si no tiene cuenta, <a href="">Regístrese</a></span>  

</div>
</div>
