.contenedor-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CDC8F7;

    .formulario-login{
        margin-top: 8px;
    }
}
.color-boton{
    background-color: #42FF5C;
}

.links-login{
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    span{
        font-size: 14px;
    }
    .badge{
        text-decoration: none;
    }
}